@import play.{Configuration => confi}
@import models.PaperResult
@import play.api.Configuration
@import play.api.libs.json.Json
@import controllers.routes
@import play.api.libs.json.JsObject
@import play.api.{Configuration, Logger}
@(configuration: Configuration, paperResultService: PaperResultService, answerService: AnswerService, conferenceSettingsService: ConferenceSettingsService,
        papersService: PapersService, conferences: List[models.Conference], papers: List[PapersWithStats])

@urlPrefix = {@confi.root().getString("url.prefix")}
@baseUrl = {@confi.root().getString("hcomp.ballot.baseURL")}

@mainFrame("Admin View") {
    <div class="row">
        <div class="col-sm-12 text-center">
            <div class="panel panel-default" onclick="loadConferencesResult()">
                <div class="panel-heading" role="tab" id="headingThree">
                @for(conference <- conferences){
                    <h1>
                        <a href="@{urlPrefix + routes.Conference.conferenceEditor(conference.id.get,conference.secret).url}">
                            Conference : <b>@conference.name</b>
                        </a>
                    </h1>
                    <h2 id="papers">Papers</h2>
                    @if(papersService.findByConference(conference.id.getOrElse(0)).isEmpty) {
                        No paper has been uploaded and completely processed so far.
                    }
                    @for(paper <- PaperStats.getStats(papersService.findByConference(conference.id.getOrElse(0)), papersService, paperResultService,
                        answerService, conferenceSettingsService)) {
                        <div class="row paper">
                            <div class="col-md-2"></div>
                            <div class="col-md-10">
                                <div class="col-xs-1" style="width: 3%"></div>
                                <div class="col-xs-1 text-center">
                                    <img class="pdf-icon" src="@{urlPrefix + routes.Assets.at("images/pdf-small.png").url}">
                                    <div class="paper-status">
                                    @paper.status match {
                                        case Papers.STATUS_COMPLETED => {
                                            <span class="glyphicon glyphicon-ok text-success"></span>
                                        }
                                        case Papers.STATUS_ERROR => {
                                            <span class="glyphicon glyphicon glyphicon-ban-circle text-danger"></span>
                                        }
                                        case _ => {
                                            <span class="glyphicon glyphicon-refresh text-muted"></span>
                                        }
                                    }
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="row">
                                        <div class="col-md-12 text-left">
                                            <b>@paper.name</b>
                                            <br>
                                            <a href="@{urlPrefix + routes.Paper.show(paper.id.get,paper.secret).url}">
                                                <span class="glyphicon glyphicon-share"></span>
                                                @{baseUrl.toString() + urlPrefix + routes.Paper.show(paper.id.get,paper.secret).url}
                                            </a>
                                            <br>
                                            <div class="paper-stats">
                                                <span class="glyphicon glyphicon-ok text-success"></span>
                                                <div class="statItem">@paper.statsTotal.getOrElse(PaperResult.SYMBOL_OK,0)</div>
                                                <span class="glyphicon glyphicon-warning-sign text-warning"></span>
                                                <div class="statItem">@paper.statsTotal.getOrElse(PaperResult.SYMBOL_WARNING,0)</div>
                                                <span class="glyphicon glyphicon-ban-circle text-danger"></span>
                                                <div class="statItem">@paper.statsTotal.getOrElse(PaperResult.SYMBOL_ERROR,0)</div>

                                                @if(paper.status == Papers.STATUS_AWAIT_CONFIRMATION){
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                    <div class="confirmItem">Not&nbsp;confirmed&nbsp;yet&nbsp;-&nbsp;
                                                        <a href="@{urlPrefix + routes.Paper.confirmPaper(paper.id.get,paper.secret).url}">
                                                            <span style="color:blue;font-weight:bold" onclick="confirmPaper(@paper)">
                                                                Confirm&nbsp;Now
                                                            </span>
                                                        </a>
                                                    </div>
                                                }

                                                @if(paper.status == Papers.STATUS_SNIPPETS_EXTRACTED) {
                                                    <span class="glyphicon glyphicon-check"></span>
                                                    <div class="confirmItem">Paper&nbsp;Confirmed</div>
                                                }

                                                @if(paper.status == Papers.STATUS_COMPLETED){
                                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                                    <div class="confirmItem"> Analysis&nbsp;Completed </div>
                                                }

                                                @if(paper.status == Papers.STATUS_NEW){
                                                    <span class="glyphicon glyphicon-refresh text-muted"></span>
                                                    <div class="confirmItem"> Processing&nbsp;Started </div>
                                                }

                                                @if(paper.status == Papers.STATUS_ERROR){
                                                    <span class="glyphicon glyphicon glyphicon-ban-circle text-danger"></span>
                                                    <div class="confirmItem"> Error&nbsp;Occured </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break"></div>
                    }
                    <hr style="height:2px; color: #0f0f0f">
                }
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body pb-padding-top">
                        <img id="sc-loader" src="@{urlPrefix + routes.Assets.at("images/loader2.gif").url}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            function loadConferencesResult() {
                var conference = conferenceService.findByIdAndSecret(conferenceId, secret)
                if (conference.isEmpty) {
                    Unauthorized(views.html.error.unauthorized())
                } else {
                    var papers = papersService.findByConference(conferenceId)
                    var papersWithStats = PaperStats.getStats(papers, papersService, paperResultService,
                            answerService, conferenceSettingsService)
                    var stats = calculateConferenceStats(conferenceId, papersWithStats)
                    Ok(views.html.conference.conferenceEditor(conferenceId, secret, conference.get.name, stats, papersWithStats))
                }
            }
    </script>
    <style>
        hr{
            display:block;
            width: 96%;
            background-color:#0f0f0f;
            height: 1px;
        }

        .break{
            width: 100%;
            float: left;
            clear: both;
            margin-top: 10px;
            margin-bottom: 10px;
        }


        .file_button_container,
        .file_button_container #fileSelect {
            height: 135px;
            width: 130px;
            cursor:pointer ;
        }
        .statItem {
            display:inline-block ;
            width: 30px ;
            padding-right:5px ;
        }
        .confirmItem {
            display:inline-block ;
            width: 100px ;
            padding-right:5px ;
        }
        .file_button_container {
            display:inline-block;
            margin-top : 50px;
            background: transparent url('@{urlPrefix + routes.Assets.at("images/pdf.png").url}') left top no-repeat;
        }
        .file_button_container #fileSelect {
            opacity: 0;
        }
        #upload-upload, #upload-success {
            display:none;
        }
        #upload-upload img {
            width: 35px;
        }
        .data-input {
            display:inline-block;
            width: 100%;
            max-width: 300px;
            margin:20px;
        }
        .data-input select {
            margin-top: 5px
        }
    </style>
}
